/* ESTILIZAÇÃO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;

}


body{
    background-color: black;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.btn-contato  button{
    background-color: #FF4500;
    font-size: 18px;
    font-weight: 600;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;

 }

 h2.titulo{
    color: #fff;
    font-size: 38px;
    text-align: center; 
    text-decoration: none;
 }

 h2.titulo span{
    color: #FF4500;
 }

/* HEADER */
header{
    padding: 40px 4%;
}

 header > .interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 header a{
    color: #7d7d7d;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
 }

 header a:hover{
    color: #FF4500;
    transform: scale(1.05);
 }

 header nav ul{
    list-style-type: none;
 }
 header nav ul li {
    display: inline-block;
    padding: 0 40px
 }
 


 .btn-contato  button:hover{
    background-color: #FF6347;
    box-shadow: 0px 0px 8px  #FF6347;
    transform: scale(1.05);
 }

 header .logo {
    font-size: 40px;
    font-weight: 700;
 }

 /* TOPO DO SITE */

section .topo-do-site {
    padding: 40px 4%;
}
section .topo-do-site .flex {
    justify-content: center;
    align-items: center;
    gap: 90px;

}

.topo-do-site .txt-topo-site h1{
    color: white;
    font-size: 38px;
    line-height: 35px;
    padding-top: 150px;
}

.topo-do-site .txt-topo-site h1 span{
    color: #FF4500;
}

.topo-do-site .txt-topo-site p {
    color: #ffffff;
    font-size: 18px;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;

}
@keyframes flutuar {
    0% {
        top: 0;
    }
    100% {
        top: 30px;
    }
}

/* ESPECIALIDADES */
section.especialidades  {
    padding: 40px 4%; 
    margin-top: 100px;
}

.especialidades .flex{
    justify-content: center;
    align-items: center;
    gap: 90px;
}
.especialidades .especialidades-box {
    color: white;
    border-radius: 20px;
    padding: 40px;
    margin-top: 45px;
}
 /* testar com background*/
.especialidades .especialidades-box:hover{
    box-shadow: 0px 0px 20px  #ffffff;
    transform: scale(1.05);
    transition: .2s;
}
.especialidades .especialidades-box i{
    font-size: 70px;
    color: #ff4500;
}

.especialidades .especialidades-box h3{
    font-size: 28px;
    margin: 20px 0;
}

/* SOBRE */
section.sobre {
    padding: 40px 4%;
}

section.sobre .flex {
    gap: 60px;
    align-items: center;
}

.sobre .txt-sobre {
    color: #ffffff;
}

.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
}

.sobre .txt-sobre h2 span{
    color: #FF4500;
    display: block;
}

.sobre .txt-sobre p{
    font-size: 15px;
    margin: 15px 0;
    text-align: justify;
}

.sobre .txt-sobre .btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #FF4500;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    

}

.sobre .txt-sobre .btn-social button:hover {
    background-color: #FF6347;
    box-shadow: 0px 0px 8px  #FF6347;
    transform: scale(1.05);
    transition: .2s;
}